{% load i18n %}
{% load cache %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Unofficial Channels
Description: A two-column, fixed-width design with a bright color scheme.
Version    : 1.0
Released   : 20120723
-->
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% include "style.html" %}
		{% block style %}{% endblock %}
	</head>
	<body style="background-color:black;">
		<div id="outer">
			<div id="header">
				    {% include "header.html" %}
			</div>
			<div id="banner">

				    {% include "banner.html" %}

			</div>
			<div id="main">
				<div id="sidebar">
					{% include "sidebar.html" %}
				</div>
				<div id="content">
					<div class="box">
						<h2> {% block h2 %} {% endblock %} </h2>
						{% block conteudo %}
						{% endblock %}
					</div>
					<br class="clear" />
				</div>
				<br class="clear" />
			</div>
		</div>
		<div id="copyright">
                        {% cache 30 footer %}
			    {% include "footer.html" %}
                        {% endcache %}
		</div>


{% get_available_languages as LANGUAGES %}
<div class="idiomas">
  <form action="/i18n/setlang/" method="post">
 {% csrf_token %}
    <select name="language">
      {% for lang in LANGUAGES %}
      <option value="{{ lang.0 }}">{{ lang.1 }}</option>
      {% endfor %}
    </select>

    <input type="submit" value="Mudar idioma"/>
  </form>
</div>
	</body>
</html>
