{% extends "template_master.html" %}
{% load i18n %}

{% block style %}
	<style>
		#main .errorlist li{
			border-top: 0px none;
			color: red;
		}
	</style>
{% endblock %}
{% block h2 %} Busca{% endblock %}
{% block conteudo %}
	{% if form.errors %}
		{% for key, values in form.errors.items %}
		    {{values}}
		{% endfor %}
	{% else %}
		{% if noticias.object_list %}
			{% for noticia in noticias.object_list %}
				<div class="box">
					<h3>
						<a href="{% url noticias.views.buscar_noticia_por_chave slug=noticia.chave %}">
							{{noticia.titulo|upper}}
						</a>
					</h3>
					<p>
						{{noticia.resumo}}
					</p>
				</div>
			{% endfor %}
			<div class"pagination">
				<span class="step-links">
					{% if noticias.has_previous %}
					<a href="?page={{noticias.previous_page_number}}">
						{% trans "Anterior" %}
					</a> {% endif %}
					<span class="current">
					Página {{noticias.number}} de {{noticias.paginator.num_pages}}
					</span>
					{% if noticias.has_next %}
						<a href="?page={{noticias.next_page_number}}">{% trans "Próximo"%}</a>
					{% endif %}
				</span>
			</div>
		{% else %}
			<p>
				{% trans "Não existem noticias cadastradas para o termo procurado"%}
			</p>
		{% endif %}
	{% endif %}
{% endblock %}
