{% extends "template_master.html" %}
{% load i18n %}
{% load comments %}

{% block style %}
<link rel="alternate" type="application/rss+xml" title="Ultimas noticias" href="/rss/" />
<style type="text/css">
	form label {
		display: block;
	}

	textarea {
		height: 100px;
	}
</style>
{% endblock %}

{% block conteudo %}
<h1>{{noticia.titulo}}-{{noticia.sub_titulo}}</h1>
<p>
	{{noticia.texto|safe}}
</p>
<p>
	{{noticia.data_publicacao|date:"d \d\e F \d\e Y"}}
</p>
{% get_comment_list for noticia as comentarios %}
{% if comentarios %}
<div class="comentarios">
	<h3>{% trans "Comentários" %}</h3>
	{% for comentario in comentarios %}
	<div class="comentario">
		Nome: {{comentario.name}}
		<br />
		{% if comenario.url %} {{comentario.url}}
		<br/>
		{% endif %}
		{{comentario.comment|linebreaks}}
	</div>
	{% endfor %}
</div>
{% endif %}
<p>
	<h3>{% trans "Envie um comentário"%}</h3>
	{% render_comment_form for noticia %}
	{% comment %}
	{% get_comment_form for noticia as form %}
	{{form}}
	{% endcomment %}
</p>

{% endblock %}
